@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  font-family: "Poppins", sans-serif;
  color: #020304;
}

body {
  background: url("./asfalt-light.png"), url("/fathers-day-2022reduced4.jpg");

  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.card {
  background: transparent;
  --bs-card-border-color: transparent;
}
.card-header {
  background-color: transparent;
}
#punch {
  font-style: italic;
}
.orange {
  background-color: #551e14;
}
