@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  font-family: "Poppins", sans-serif;
}
body {
  overflow: hidden;
  background-image: url("/fathers-day-2022-b-red2.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  background-position-y: 20vh;
}

#punch {
  font-style: italic;
}
