body {
  /* background: linear-gradient(rgba(19, 19, 19, 0.5), rgba(14, 14, 14, 0.5)); */
  background-image: url("/fathers-day-2022-b-red2.jpg"),
    linear-gradient(rgba(19, 19, 19, 0.5), rgba(14, 14, 14, 0.5));
  /* https://www.w3schools.com/cssref/pr_background-image.asp */

  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  background-color: red;
}
.card {
  /* background: transparent; */
  background: linear-gradient(
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.655)
  );
}
